
	<div class="float-container event">
		<div class="grid4column">
          <a href="images/portfolio/portfolio2.jpg" class="fancylightbox" title="Title can be filled in or removed easily"><img src="<%= event.safe_image %>"  alt="" class="event-image transparent" /></a>
		</div>
		<div class="grid4columnbig lastcolumn">
			<br/>
            <div class="event-source"><a href="<%= event.url %>">from <%= event.source %></a></div>
            <h4><%= link_to event.title, event %></h4>
            <p><%= event.venue_name %> - <%= event.start.strftime("%b %d, %l:%M%P") %></p>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce cursus nisi vitae nibh sollicitudin a sagittis urna viverra. Donec malesuada tempus enim eleifend egestas. Donec mattis mollis mauris, ut congue ante euismod quis. Phasellus nec rutrum arcu. Pellentesque condimentum dapibus quam, dapibus accumsan nulla sollicitudin vitae.</p>
            <% if event.tonight? %>
              <%= link_to 'Learn More - Today!', event, :class => "colored-button" %>
            <% else %>
              <%= link_to 'Learn More', event, :class => "button" %>
            <% end %>
            <div class="tags"><%= event.tags %></div>
		</div>
          <div class="divider-large" style="clear:both"></div>
	</div>
	<br/><br/>

