<div id="eventbox">
<% group_events_by_day(@events).each do |day, events| %>
  <h2 class="day-divider"><%= day_separator(day) %></h2>
  <div class="pills">
  <% events.each do |event| %>
    <% if event.recommended %>
      <%= render :partial => "pill", :locals => {:event => event} %>
      <div id="<%= event.pill_content_dom_id %>" class="pillcontent clear">
        <%= render event %>
      </div>
      <script type="text/javascript">
        $(document).ready(function() { formatPill("<%= event.pill_dom_id %>"); });
      </script>
    <% else %>
      <%= render :partial => "pill", :locals => {:event => event} %>
    <% end %>
  <% end %>
  <div class="clearfloat">&nbsp;</div>
  </div>
<% end %>
<%= will_paginate @events %>
</div>
