<div id="<%= event.pill_dom_id %>" class="pillbox">
  <% unless event.recommended %>
  <a class="expandpill" href="<%= event_path(event) %>" onclick="loadPill('eventpill-<%= event.id %>', '<%= partial_event_path(event) %>'); return false;">
  <% end %>
  <div class="pill" style="background-color: <%= ["#E9C01B","#F37021","#74BCD8"][event.id % 3] %>" 
    >
    <%= truncate(event.title.titleize) %>
  </div>
  <% unless event.recommended %>
  </a>
  <% end %>
</div>
