<div id="eventpill-<%= event.id %>" class="pillbox">
  <div class="pill" style="background-color: #<%= ["9CC","C9C","CC9"].sample %>" onclick="loadPill('eventpill-<%= event.id %>', '<%= partial_event_path(event) %>');">
    <%= truncate(event.title.titleize) %>
</div>
</div>
