<%= link_to 'Back to Events Today', events_path %>
	<div class="bread-crumbs"><a href="/">Home</a> &raquo; Search</div>
	
    <h1><%= @events.size %> events for "<%= @q %>"</h1>

<%= render 'list' %>

<br />

<%= link_to 'Events', events_path %>
