<% content_for :title, "#{@event.title} | Four Thirty-Six" %>
<p id="notice"><%= notice %></p>

<h1><%= @event.title %></h1>
  <div id="<%= dom_id @event%>-cta" class="event-cta">
    <%= share_box(:id => dom_id(@event), :share_url => polymorphic_path(@event, :only_path => false), :content => @event.share_text) %>
    <div class="wannadoit">
      <%= button_to "I wanna do it!", @event.url, :class => "wannadoitbtn", :method => :get %>
    </div>
    <div class="clearfloat"><a style="float:right; margin-top:5px" href="<%= event_path(@event) %>">Permalink</a></div>
  </div>

  <div>
<p>
  <strong>When:</strong> <%= @event.start.strftime("%a, %b %d, %l:%M%P") %> <%= "Today!" if @event.tonight? %>
</p>

<p>
  <strong>Where:</strong> <%= @event.venue_with_address %>
</p>

<div id="eventdescription">
  <%= @event.description %>
</div>

<p>
  <%= link_to "More Information", @event.url %>
</p>

<div class="meta">
  [ <%= link_to @event.source, @event.url %> | <%= @event.tags %> ]
</div>
</div>

<iframe width="920" height="580" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=<%= u @event.venue_with_address %>&amp;ie=UTF8&amp;z=16&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=<%= u @event.venue_with_address %>&amp;ie=UTF8&amp;z=16&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>

<% if is_admin %>
<%= link_to 'Edit', edit_event_path(@event) %> |
<% end %>

<% if @event.duplicates.size > 0 %>
<div>
  <h4><%= @event.duplicates.size %> Possible Duplicates</h4>
  <% @event.duplicates.each do |duplicate| %>
    <div>
      <%= duplicate.title_with_venue %> <%= duplicate.source %> <%= duplicate.start.strftime("%m %e %l:%M%P") %>
      <%= @event.similarity(duplicate) %>
      <%= link_to 'Show', duplicate %>
    </div>
  <% end %>
</div>
<% end %>
